$max_width: 1000px;
$row_width: 16px;

.schedule {
	display: grid;
	grid-template-columns: auto repeat(5, 1fr);
	max-width: $max_width;
	margin: 0;
	padding: 0;
	border: 1px solid var.$background;
	background: var.$dark_background;
	color: var.$background;
	line-height: 1;
	list-style: none;

	ul,
	li {
		margin: 0;
		list-style: none;
	}

	ul {
		display: grid;
		grid-auto-rows: $row_width;
		padding: 0;
	}

	&[data-active='true'] {
		.slots {
			li {
				opacity: 0.3;

				&[data-current='true'] {
					opacity: 1;
				}
			}

			.marker {
				opacity: 1;
			}
		}
	}
}

.column {
	&:not(:last-child) {
		border-right: 1px solid var.$background;
	}
}

.title {
	margin: 0;
	padding: 0 1ch;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	text-transform: capitalize;
}

.times {
	font-size: 0.5em;
	font-weight: 400;
	text-align: right;

	li {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 0.5ch;
		border-top: 1px solid rgba(var.$background, 0.2);

		&:nth-child(4n + 1) {
			border-color: var.$background;
		}
	}
}

.slots {
	font-size: 0.6em;
	font-weight: 500;
	text-align: center;

	li {
		display: flex;
		grid-column: 1;
		grid-row: var(--row_start) / span var(--rows);
		align-items: center;
		justify-content: center;
		border-top: 1px solid var.$background;
		background: var.$pink;
		color: var.$neutral;

		&.personal {
			background: var.$darkpurple;
			color: var.$white;
		}

		&.aimhigher {
			background: var.$aimhigher_primary;
			color: var.$white;
		}

		&.work {
			background: var.$aimhigher_secondary;
		}

		&.ddd {
			background: var.$orange;
		}

		&.makerx {
			background: var.$yellow;
		}

		&.overflow {
			background: var.$green;
		}
	}

	.marker {
		position: relative;
		z-index: 1;
		border: 5px solid var.$navy;
		opacity: 1;
		background: rgba(var.$background, 0.4);
		color: transparent;
		font-size: 0;
	}
}
